services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
      target: development
    env_file:
      - development.env
    volumes:
      - .:/workspace
    working_dir: /workspace/app
    tty: true